.projects {
  display: flex;
  flex-direction: column;
}

.projectsHeading {
  padding: 0 64px;
  margin: 96px 0;
  font-family: "ibm-plex-sans", sans-serif;
  line-height: 1.25;
  font-size: var(--font-h3);
  color: var(--color-black-1);
  text-align: start;
}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 192px;
}

.battleshipContainer {
  display: flex;
  background: linear-gradient(to right, #e71a1a, #000000);
  margin: 0 64px;
  padding: 0 96px;
  border-radius: 16px;
}

.battleship {
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
  padding: 96px 64px;
  background-color: var(--color-white-1);
}

.battleshipHeading {
  font-size: var(--font-h3);
  line-height: 1.25;
  margin: 0;
  font-family: "ibm-plex-sans", sans-serif;
}

.projectDescription {
  text-align: start;
  font-size: var(--font-h6);
  font-family: "open-sans", sans-serif;
  line-height: 1.5;
  margin: 0;
  color: var(--color-black-3);
}

.battleshipImageContainer {
  position: relative;
  padding-right: 192px;
  padding-bottom: 96px;
}

.imageItem {
  width: 640px;
  height: 360px;
  border-radius: 16px;
}

.battleshipImageItemTwo {
  composes: imageItem;
  position: absolute;
  top: 96px;
  left: 192px;
  box-shadow: -16px -16px var(--color-white-1);
}

.img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.jyronueContainer {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #f4f5f5, #bedae3);
}

.jyronue {
  background: conic-gradient(from 270deg, #f4f5f5, #bedae3);
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 96px 64px;
}

.jyronueHeading {
  text-align: start;
  font-size: var(--font-h3);
  line-height: 1.25;
  margin: 0;
  font-family: "ibm-plex-sans", sans-serif;
  font-weight: 400;
}

.jyronueImageContainer {
  align-self: center;
  border-radius: 0;
  position: relative;
  margin-top: 96px;
  padding-right: 480px;
  padding-bottom: 168px;
}

.jyronueImageItem {
  composes: imageItem;
  border-radius: 0;
}

.jyronueImageItemTwo {
  composes: jyronueImageItem;
  position: absolute;
  left: 240px;
  top: -96px;
}

.jyronueImageItemThree {
  composes: jyronueImageItem;
  position: absolute;
  left: 480px;
  top: 168px;
}

@media screen and (max-width: 1599px) {
  .imageItem {
    width: 560px;
    height: 315px;
  }

  .battleshipImageContainer {
    padding-right: 168px;
    padding-bottom: 88px;
  }

  .battleshipImageItemTwo {
    top: 88px;
    left: 168px;
  }

  .jyronueImageContainer {
    padding-right: 480px;
    padding-bottom: 168px;
  }

  .jyronueImageContainer {
    margin-top: 88px;
    padding-right: 424px;
    padding-bottom: 144px;
  }

  .jyronueImageItemTwo {
    composes: jyronueImageItem;
    position: absolute;
    left: 208px;
    top: -88px;
  }

  .jyronueImageItemThree {
    composes: jyronueImageItem;
    position: absolute;
    left: 424px;
    top: 144px;
  }
}

@media screen and (max-width: 1199px) {
  .projectList {
    gap: 160px;
  }

  .imageItem {
    width: 360px;
    height: 200px;
  }

  .projectsHeading {
    padding: 0 32px;
    margin-bottom: 64px;
  }

  .battleshipContainer {
    justify-content: center;
    margin: 0;
    border-radius: 0;
  }

  .battleshipHeading {
    font-size: var(--font-h4);
  }

  .battleshipImageContainer {
    position: relative;
    padding-right: 96px;
    padding-bottom: 56px;
  }

  .battleshipImageItemTwo {
    composes: imageItem;
    position: absolute;
    top: 56px;
    left: 96px;
    box-shadow: -16px -16px var(--color-white-1);
  }

  .jyronueImageContainer {
    border-radius: 0;
    position: relative;
    margin-top: 56px;
    padding-right: 272px;
    padding-bottom: 96px;
  }

  .jyronueHeading {
    font-size: var(--font-h4);
  }

  .jyronueImageItem {
    composes: imageItem;
    border-radius: 0;
  }

  .jyronueImageItemTwo {
    composes: jyronueImageItem;
    position: absolute;
    left: 136px;
    top: -56px;
  }

  .jyronueImageItemThree {
    composes: jyronueImageItem;
    position: absolute;
    left: 272px;
    top: 96px;
  }
}

@media screen and (max-width: 799px) {
  .projectList {
    gap: 96px;
  }

  .projectsHeading {
    margin: 32px 0;
  }

  .imageItem {
    width: 240px;
    height: 135px;
    border-radius: 8px;
  }

  .projectsHeading {
    padding: 0 16px;
  }

  .battleship {
    padding: 64px 32px;
  }

  .jyronue {
    padding: 64px 16px;
  }

  .battleshipImageItemTwo {
    composes: imageItem;
    position: absolute;
    top: 32px;
    left: 96px;
    box-shadow: -8px -8px var(--color-white-1);
  }

  .jyronueImageContainer {
    border-radius: 0;
    position: relative;
    margin-top: 36px;
    padding-right: 184px;
    padding-bottom: 64px;
  }

  .jyronueImageItemTwo {
    composes: jyronueImageItem;
    position: absolute;
    left: 88px;
    top: -36px;
  }

  .jyronueImageItemThree {
    composes: jyronueImageItem;
    position: absolute;
    left: 184px;
    top: 64px;
  }
}

@media screen and (max-width: 449px) {
  .imageItem {
    width: 180px;
    height: 101px;
  }

  .projectsHeading {
    font-size: var(--font-h5);
  }

  .battleshipHeading {
    font-size: var(--font-h5);
  }

  .projectList {
    gap: 64px;
  }

  .battleship {
    padding: 32px 16px;
  }

  .projectDescription {
    font-size: var(--font-base);
  }

  .jyronue {
    padding: 32px 16px;
  }

  .jyronueHeading {
    font-size: var(--font-h5);
  }

  .battleshipImageItemTwo {
    top: 32px;
    left: 96px;
  }

  .jyronueImageContainer {
    border-radius: 0;
    position: relative;
    margin-top: 24px;
    padding-right: 140px;
    padding-bottom: 48px;
  }

  .jyronueImageItemTwo {
    left: 64px;
    top: -24px;
  }

  .jyronueImageItemThree {
    composes: jyronueImageItem;
    position: absolute;
    left: 140px;
    top: 48px;
  }
}
