.skills {
  display: flex;
  flex-direction: column;
  gap: 64px;
  font-family: "ibm-plex-sans", sans-serif;
  font-size: var(--h2);
  font-weight: 700;
  line-height: 1.25;
  background-color: transparent;
  color: var(--color-13);
  padding: 128px 64px;
}

.mainSkill {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 64px;
  margin: 0;
}

.mainSkillHeading {
  margin: 0;
  font-family: var(--ff-playfair-display);
  font-weight: 400;
  line-height: 1.25;
  font-size: var(--h3);
  color: var(--color-white-1);
  align-self: flex-start;
}

.mainSkillItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  flex: auto;
  background-image: var(--brand-gradient-up);
  font-family: var(--ff-inter);
  font-weight: 500;
  font-size: var(--h5);
  color: var(--brand-white);
  line-height: 1.25;
  font-weight: 400;
  padding: 32px 16px;
  border-radius: 16px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.skillIconContainer {
  display: flex;
  justify-content: center;
}

.skillIcon {
  width: var(--h2);
  height: var(--h2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--h2) auto;
}

.html {
  composes: skillIcon;
  background-image: url("../../assets/images/html-icon.svg");
}

.css {
  composes: skillIcon;
  background-image: url("../../assets/images/css-icon.svg");
}

.javascript {
  composes: skillIcon;
  background-image: url("../../assets/images/javascript-icon.svg");
}

.typescript {
  composes: skillIcon;
  background-image: url("../../assets/images/typescript-icon.svg");
}

.text {
  margin: 0;
}

.mainSkillText {
  margin: 0;
  font-family: var(--ff-inter);
  font-size: var(--h5);
  font-weight: 500;
  color: var(--brand-white);
  line-height: 1.25;
}

.skillListContainer {
  margin-bottom: 0;
  background-size: 200% 100%;
  background-image: linear-gradient(
    -60deg,
    var(--color-13),
    var(--color-14),
    var(--color-15)
  );
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  border-radius: 16px;
  gap: 64px;
  padding: 96px;
}

.skillItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.5em;
  width: var(--h2);
  height: var(--h2);
  background-color: var(--color-white-1);
  box-shadow: 0 0.1em 3px 3px rgba(35, 40, 47, 0.3);
}

.icon {
  width: var(--h2);
  height: var(--h2);
}

.skillList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 8px;
}

.skillListOne {
  display: flex;
  gap: 96px;
}

.skillListTwo {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.skillListHeading {
  margin: 0;
  margin-bottom: 24px;
  line-height: 1.25;
  font-size: var(--h3);
}

.skillListText {
  margin: 0;
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-size: var(--h6);
  line-height: 1.5;
}

@media screen and (max-width: 1599px) {
  .skillListContainer {
    gap: 64px;
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .mainSkill {
    padding: 0 32px;
    gap: 32px;
  }

  .skillListContainer {
    gap: 48px;
  }

  .skillItem {
    width: var(--h4);
    height: var(--h4);
  }

  .icon {
    width: var(--h4);
    height: var(--h4);
  }
}

@media screen and (max-width: 1199px) {
  .mainSkillHeading {
    font-size: var(--h3);
  }

  .skills {
    gap: 64px;
  }

  .mainSkill {
    padding: 0;
  }

  .skillListContainer {
    gap: 32px;
    padding: 64px 32px;
  }

  .mainSkillItem {
    padding: 24px 12px;
    gap: 24px;
  }

  .skillItem {
    width: 24px;
    height: 24px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .mainSkillText {
    font-size: var(--h6);
  }

  .mainSkillItem {
    font-size: var(--h6);
    color: var(--brand-white);
  }

  .skillIcon {
    width: var(--h3);
    height: var(--h3);
    background-size: var(--h3) auto;
  }
}

@media screen and (max-width: 799px) {
  .skills {
    padding: 64px 32px;
    gap: 48px;
  }

  .skillListContainer {
    gap: 32px;
  }

  .skillListOne {
    gap: 32px;
  }

  .skillListTwo {
    gap: 32px;
  }

  .mainSkill {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .skillListContainer {
    gap: 24px;
    padding: 48px 32px;
  }
}

@media screen and (max-width: 499px) {
  .skills {
    padding: 24px;
    gap: 32px;
  }

  .skillListContainer {
    padding: 32px;
  }

  .skillListOne {
    gap: 64px;
  }

  .mainSkillItem {
    border-radius: 8px;
    gap: 12px;
    padding: 16px 12px;
  }

  .skillListContainer {
    gap: 24px;
  }

  .mainSkill {
    gap: 28px;
  }

  .mainSkillText {
    font-size: var(--p);
  }
}
