.contactContainer {
  display: flex;
  flex-direction: column;
  padding: 240px 64px;
  margin: 0 64px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
  max-width: 1080px;
}

.contactHeading {
  font-family: "ibm-plex-sans", sans-serif;
  font-weight: 700;
  font-size: var(--font-h1);
  line-height: 1.25;
  text-align: start;
  margin: 0;
}

.contactText {
  font-size: var(--font-h5);
  font-family: "open-sans", sans-serif;
  line-height: 1.5;
  text-align: start;
  color: var(--color-black-2);
  margin: 0;
}

.address {
  display: flex;
  justify-content: start;
}

.email {
  font-size: var(--font-base);
  font-family: "open-sans", sans-serif;
  line-height: 1.5;
  text-align: start;
  color: var(--color-black-2);
}

.email:hover {
  color: var(--brand-color-2);
}

.githubButton {
  display: flex;
  gap: 32px;
  align-items: center;
  padding: 32px 64px;
  background-color: var(--brand-color-3);
  border-radius: 0 50px 50px 0;
  transition: background-color 3s ease-out;
}

.githubButton:hover {
  background: var(--brand-gradient-reverse);
  transition: background 3s ease-in;
}

.githubButton:active {
  background-color: var(--brand-color-2);
  transition: background 3s ease-in;
}

.githubLink {
  color: var(--color-white-1);
  font-size: var(--font-h4);
  font-family: "open-sans", sans-serif;
  line-height: 1.25;
  font-weight: 400;
  margin: 0;
}

.githubLogo {
  display: flex;
  width: calc(var(--font-h4) * 1.25);
  height: calc(var(--font-h4) * 1.25);
}

.githubLogo::before {
  width: calc(var(--font-h4) * 1.25);
  height: calc(var(--font-h4) * 1.25);
  content: " ";
  background: url("../../assets/images/github-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media screen and (max-width: 1199px) {
  .contactContainer {
    margin: 0 32px;
  }
  .contactHeading {
    font-size: var(--font-h3);
  }

  .contactText {
    font-size: var(--font-h6);
  }

  .address {
    display: flex;
    justify-content: start;
  }

  .email {
    font-size: var(--font-small);
  }

  .githubLink {
    font-size: var(--font-h6);
    line-height: 1.5;
  }

  .githubLogo {
    display: flex;
    width: calc(var(--font-h6) * 1.5);
    height: calc(var(--font-h6) * 1.5);
  }

  .githubLogo::before {
    width: calc(var(--font-h6) * 1.5);
    height: calc(var(--font-h6) * 1.5);
  }
}

@media screen and (max-width: 799px) {
  .contactContainer {
    margin: 0 16px;
    padding: 100px 32px;
  }

  .contact {
    gap: 16px;
  }

  .contactHeading {
    font-size: var(--font-h5);
  }

  .contactText {
    font-size: var(--font-h6);
  }

  .githubButton {
    padding: 16px 32px;
  }

  .githubLink {
    font-size: var(--font-base);
  }

  .githubLogo {
    display: flex;
    width: calc(var(--font-base) * 1.5);
    height: calc(var(--font-base) * 1.5);
  }

  .githubLogo::before {
    width: calc(var(--font-base) * 1.5);
    height: calc(var(--font-base) * 1.5);
  }
}
