.header {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.5vw 3vw;
  background-color: var(--color-bg-dark);
  color: var(--color-main);
  text-align: start;
}

.headerItem {
  padding: 2.5vw 2.5vw 5vw 2.5vw;
}

.h1 {
  font-size: clamp(1.5rem, calc(2.25rem + 0.5vw), 3rem );
  margin-top: 0;
  font-family: "inter";
  font-weight: 700;
}

.intro {
  font-size: clamp(1rem, calc(1.1rem + 0.5vw), 2rem);
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.ad {
  font-family: "open-sans";
  font-style: italic;
  font-size: 1.15em;
}