.container {
  display: flex;
  background-image: var(--soft-brand-gradient-down);
}

.header {
  box-sizing: border-box;
  display: flex;
  grid-template-columns: 926px 1fr;
  align-items: end;
  padding: var(--padding-l);
  background-color: var(--brand-white);
  width: max(58vw, calc(72ch + var(--padding-l) * 2));
}

@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.headerIntro {
  max-width: 72ch;
  display: flex;
  flex-direction: column;
  padding: 64px 0;
  gap: 96px;
}

.h1 {
  font-family: var(--ff-playfair-display);
  color: var(--brand-color-white);
  font-size: var(--h1);
  line-height: 1.2;
  text-align: left;
  margin: 0;
  animation-name: slide-down;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes slide-down {
  0% {
    translate: -5% -10%;
    opacity: 0.5;
    scale: 1.1;
  }

  80% {
    translate: 1% 1%;
    opacity: 1;
    scale: 1;
  }

  100% {
    translate: 0 0;
    opacity: 1;
    scale: 1;
  }
}

.highlight {
  background-image: linear-gradient(
    to right,
    var(--soft-brand-grey),
    var(--brand-3),
    var(--soft-brand-black)
  );
  background-size: 100%;
  padding: 0.1em 0;
  line-height: normal;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.role {
  font-family: var(--ff-playfair-display);
  font-size: var(--h3);
  line-height: 1.25;
  text-align: start;
  color: var(--black-100);
  margin: 0;
  font-style: italic;
  font-weight: 600;
  animation-name: slide-down;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.introContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.intro {
  max-width: 72ch;
  font-weight: 500;
  color: var(--black-200);
  word-break: break-word;
  overflow-wrap: break-word;
  font-family: var(--ff-inter);
  font-size: var(--h5);
  font-weight: 400;
  line-height: 1.5;
  text-align: start;
  margin: 0;
  animation-name: slide-down;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@media screen and (max-width: 1599px) {
  .header {
    align-items: flex-start;
  }

  .intro {
    font-size: var(--h6);
  }

  .headerIntro {
    align-self: flex-start;
    max-width: 926px;
  }

  .logo {
    width: min(100%, 240px);
    height: auto;
  }
}

@media screen and (max-width: 1199px) {
  .header {
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
  }

  .logo {
    width: 128px;
    height: auto;
  }

  .headerIntro {
    gap: 64px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .h1 {
    font-size: var(--h2);
  }

  .role {
    font-size: var(--h5);
  }

  .intro {
    font-size: var(--h6);
  }
}

@media screen and (max-width: 799px) {
  .header {
    padding: 48px 32px;
  }

  .logo {
    width: 96px;
    height: auto;
  }

  .headerIntro {
    gap: 32px;
    max-width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 499px) {
  .h1 {
    font-size: var(--h1);
  }

  .header {
    padding: 24px;
  }

  .logo {
    width: 64px;
    height: auto;
  }

  .intro {
    font-size: var(--p);
  }
}
