.container {
  background-image: linear-gradient(
    -45deg,
    var(--color-15),
    var(--color-15),
    var(--color-14),
    var(--color-13),
    var(--color-13),
    var(--color-5),
    var(--color-6),
    var(--color-4),
    var(--color-12),
    var(--color-12),
    var(--color-11),
    var(--color-10),
    var(--color-10),
    var(--color-9),
    var(--color-9),
    var(--color-8),
    var(--color-7),
    var(--color-7),
    var(--brand-color-1),
    var(--brand-color-1),
    var(--brand-color-2),
    var(--brand-color-3),
    var(--brand-color-3)
  );
  background-size: 800% 100%;
  animation-name: gradient;
  animation-duration: 150s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.header {
  display: grid;
  grid-template-columns: 926px 1fr;
  align-items: end;
  padding: var(--padding-l);
  background-image: url("../../assets/images/bg_portfolio.svg");
  background-size: cover, 100%;
  background-repeat: no-repeat, no-repeat;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  40% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.headerIntro {
  display: flex;
  flex-direction: column;
  padding: 64px 0;
  gap: 96px;
}

.h1 {
  font-family: var(--ff-lobster);
  font-size: var(--h1);
  line-height: 1.2;
  text-align: left;
  margin: 0;
  animation-name: slide-down;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes slide-down {
  0% {
    translate: -5% -10%;
    opacity: 0.5;
    scale: 1.1;
  }

  80% {
    translate: 1% 1%;
    opacity: 1;
    scale: 1;
  }

  100% {
    translate: 0 0;
    opacity: 1;
    scale: 1;
  }
}

.highlight {
  font-weight: 400;
  background-image: linear-gradient(
    -45deg,
    var(--color-15),
    var(--color-15),
    var(--color-14),
    var(--color-13),
    var(--color-13),
    var(--color-5),
    var(--color-6),
    var(--color-4),
    var(--color-12),
    var(--color-12),
    var(--color-11),
    var(--color-10),
    var(--color-10),
    var(--color-9),
    var(--color-9),
    var(--color-8),
    var(--color-7),
    var(--color-7),
    var(--brand-color-1),
    var(--brand-color-1),
    var(--brand-color-2),
    var(--brand-color-3),
    var(--brand-color-3)
  );
  background-size: 800% 100%;
  animation-name: gradient;
  animation-duration: 150s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.role {
  font-family: var(--ff-inter);
  font-size: var(--h4);
  line-height: 1.25;
  text-align: start;
  color: var(--color-black-2);
  margin: 0;
  font-style: italic;
  font-weight: 600;
  animation-name: slide-down;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.intro {
  max-width: 72ch;
  font-weight: 500;
  color: var(--color-black-2);
  font-family: var(--ff-inter);
  font-size: var(--h6);
  line-height: 1.5;
  text-align: start;
  margin: 0;
  animation-name: slide-down;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@media screen and (max-width: 1599px) {
  .header {
    align-items: flex-start;
  }

  .headerIntro {
    align-self: flex-start;
    max-width: 926px;
  }

  .logo {
    width: min(100%, 240px);
    height: auto;
  }
}

@media screen and (max-width: 1199px) {
  .header {
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
  }

  .logo {
    width: 128px;
    height: auto;
  }

  .headerIntro {
    gap: 64px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .h1 {
    font-size: var(--h2);
  }

  .role {
    font-size: var(--h5);
  }

  .intro {
    font-size: var(--h6);
  }
}

@media screen and (max-width: 799px) {
  .header {
    padding: 48px;
  }

  .logo {
    width: 96px;
    height: auto;
  }

  .headerIntro {
    gap: 32px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .h1 {
    font-size: var(--h4);
  }

  .role {
    font-size: var(--h6);
    line-height: 1.5;
  }

  .intro {
    font-size: var(--base);
  }
}

@media screen and (max-width: 449px) {
  .header {
    padding: 32px 16px;
  }

  .logo {
    width: 64px;
    height: auto;
  }

  .headerIntro {
    padding: 32px 0;
    gap: 16px;
  }
}
