.header {
  display: grid;
  grid-template-columns: 926px 1fr;
  align-items: end;
  padding: 64px;
}

.headerIntro {
  display: flex;
  flex-direction: column;
  padding: 64px 0;
  gap: 96px;
}

.h1 {
  font-family: "ibm-plex-sans", sans-serif;
  line-height: 1.25;
  text-align: left;
  margin: 0;
}

.aadheuss {
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  background: var(--brand-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.role {
  font-family: "open-sans", sans-serif;
  font-size: var(--font-h3);
  line-height: 1.25;
  text-align: start;
  color: var(--color-black-3);
  margin: 0;
}

.intro {
  color: var(--color-black-2);
  font-family: "open-sans", sans-serif;
  font-size: var(--font-h5);
  line-height: 1.5;
  text-align: start;
  margin: 0;
}

.logo {
  width: min(560px, 100%);
  height: auto;
}

@media screen and (max-width: 1599px) {
  .header {
    display: flex;
    flex-direction: column-reverse;
  }

  .headerIntro {
    align-self: flex-start;
    max-width: 926px;
  }

  .logo {
    width: 240px;
    height: auto;
  }
}

@media screen and (max-width: 1199px) {
  .logo {
    width: 128px;
    height: auto;
  }

  .headerIntro {
    gap: 64px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .h1 {
    font-size: var(--font-h2);
  }

  .role {
    font-size: var(--font-h5);
  }

  .intro {
    font-size: var(--font-h6);
  }
}

@media screen and (max-width: 799px) {
  .header {
    padding: 48px;
  }

  .logo {
    width: 96px;
    height: auto;
  }

  .headerIntro {
    gap: 32px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .h1 {
    font-size: var(--font-h4);
  }

  .role {
    font-size: var(--font-h6);
    line-height: 1.5;
  }

  .intro {
    font-size: var(--font-base);
  }
}

@media screen and (max-width: 449px) {
  .header {
    padding: 32px 16px;
  }

  .logo {
    width: 64px;
    height: auto;
  }

  .headerIntro {
    padding: 32px 0;
    gap: 16px;
  }

  .h1 {
    font-size: var(--font-h5);
  }

  .role {
    font-size: var(--font-base);
  }

  .intro {
    font-size: var(--font-small);
  }
}
