#root {
  width: 100%;
  max-width: 1920px;
  min-height: 100dvh;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.footer {
  padding: 0;
  background-image: linear-gradient(
    -5deg,
    #6229a9,
    var(--color-15),
    var(--color-14),
    var(--color-13),
    #ddd6e8
  );
  background-size: 100%;
  transition: all 1s ease-out;
}

.f-bg {
  background-image: url("./assets/images/bg_portfolio.svg");
  background-size: cover;
  transition: all 1s ease-out;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

footer {
  padding: 32px;
}

.copyrightText {
  font-size: var(--font-base);
  line-height: 1.5;
  font-family: "open-sans", sans-serif;
  color: var(--color-black-2);
  margin: 0;
}

@media screen and (max-width: 1199px) {
  .copyrightText {
    font-size: var(--font-small);
  }
}

@media screen and (max-width: 449px) {
  footer {
    padding: 16px;
  }
}
