@font-face {
  font-family: "inter";
  src: url("./assets/fonts/inter/Inter-Bold.woff2") format("woff2"),
    url("./assets/fonts/inter/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/inter/Inter-BoldItalic.woff2") format("woff2"),
    url("./assets/fonts/inter/Inter-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/inter/Inter-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/inter/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "open-sans";
  src: url("./assets/fonts/open-sans/OpenSans-Semibold.woff2") format("woff2"),
    url("./assets/fonts/open-sans/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "open-sans";
  src: url("./assets/fonts/open-sans/OpenSans.woff2") format("woff2"),
    url("./assets/fonts/open-sans/OpenSans-Semibold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ibm-plex-sans";
  src: url("./assets/fonts/ibm-plex-sans/IBMPlexSans-Bold.woff2")
      format("woff2"),
    url("./assets/fonts/ibm-plex-sans/IBMPlexSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ibm-plex-sans";
  src: url("./assets/fonts/ibm-plex-sans/IBMPlexSans-SemiBold.woff2")
      format("woff2"),
    url("./assets/fonts/ibm-plex-sans/IBMPlexSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ibm-plex-sans";
  src: url("./assets/fonts/ibm-plex-sans/IBMPlexSans-Medium.woff2")
      format("woff2"),
    url("./assets/fonts/ibm-plex-sans/IBMPlexSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

:root {
  font-family: "open-sans", "inter", "ibm-plex-sans", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --brand-color-1: #4cb0ce;
  --brand-color-2: #4ccf97;
  --brand-color-3: #4c87cf;
  --color-white-1: #f4f5f5;
  --color-white-2: #eaeced;
  --color-black-1: #0f2329;
  --color-black-2: #606d71;
  --color-black-3: #949da0;
  --color-black-4: #cacecf;
  --brand-gradient: linear-gradient(
    var(--brand-color-2),
    var(--brand-color-1),
    var(--brand-color-3)
  );
  --font-h1: 90px;
  --font-h2: 67px;
  --font-h3: 51px;
  --font-h4: 38px;
  --font-h5: 28px;
  --font-h6: 21px;
  --font-base: 16px;
  --font-small: 12px;
  color-scheme: light dark;
  color: var(--color-black-1);
  background-color: var(--color-white-1);
}

a {
  font-family: "ibm-plex-sans", "open-sans", "inter", sans-serif;
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: var(--font-h1);
  line-height: 1.25;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
